
NODE_ENV=

PORT=3000

CORS_ORIGIN=http://localhost:5173

API_URL=http://localhost:3000/api

MONGODB_URI=mongodb://127.0.0.1:27017/shipQuote-db

COUNTRIES_URL=https://restcountries.com/v4/all?fields=translations,cca2,name

DACHSER_API_KEY=