
NODE_ENV=test

LOG_LEVEL=

PORT=3000

CORS_ORIGIN=http://localhost:5173

API_URL=http://localhost:3000/api

MONGODB_URI_TEST=mongodb://127.0.0.1:27017/shipQuote-db_test
MONGODB_URI=mongodb://127.0.0.1:27017/shipQuote-db

DEFAULT_COUNTRY=ES

COUNTRIES_API_ENABLED=false
COUNTRIES_URL=https://api.restcountries.com/countries/v5?response_fields=names.translations,codes.alpha_2,names.common
COUNTRIES_API_KEY=

DEFAULT_PALLET_VOLUME=1000000
DEFAULT_PARCEL_VOLUME=6000

DACHSER_API_KEY=
DACHSER_API_N_CUSTOMER=