
NODE_ENV=dev

LOG_LEVEL=

PORT=3000

CORS_ORIGIN=http://localhost:5173

API_URL=http://localhost:3000/api

MONGODB_URI_TEST=mongodb://127.0.0.1:27017/shipQuote-db_test
MONGODB_URI=mongodb://127.0.0.1:27017/shipQuote-db

COUNTRIES_URL=https://restcountries.com/v4/all?fields=translations,cca2,name

DEFAULT_PALLET_VOLUME=1000000
DEFAULT_PARCEL_VOLUME=6000

DACHSER_API_KEY=
DACHSER_API_N_CUSTOMER=